*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 30vw;
    padding: 2rem;
    border: solid 2px;
    border-radius: 10px;
}

.btn{
    color:rgb(34, 34, 215);
    background-color: aliceblue;
    border: 1px rgb(34, 34, 215);
    padding: .5rem;
    border-radius: 5px;
}